* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

dialog {
    background: rgba(255, 255, 255, 0.7);
    width: 60%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
   }

.leftFighterHP, 
.rightFighterHP {
    position: absolute;
    top: 0;
    bottom: 0;
    background: green;
    width: 10px;
}
input[type="text"] {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 0 5px;
    height: 20px;
    margin: 2px;
    border-radius: 2px;
}
.dialog button {
    display: block;
    width: 30%;
    margin: 10px auto;
}
.dialog h1 {
    text-align: center;
}

button {
    border:none;
    padding: 3px 10px;
    border-radius: 3px;
    background: #808080;
}

.dialogFight {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-gap: 10px;
    align-content: start;
}
.leftFighter {
    text-align: center;
    grid-area: 1/1/2/2;
}
.rightFighter {
    text-align: center;
}
.closeButton {
    grid-area: 2/3/3/-1;
}
.fighterFimg {
    height: 150px;
}
.fightBlock {
    height: 500px;
    overflow-y: scroll;
    font-size: 10px;
}
.rightFighterHP {
    right: 0;
}
.startFightButton {
    width: 40%;
    height: 40px;
    margin-bottom: 20px;
    background: #006400;
}
.victory {
    font-size: 25px;
    text-align: center;
    color: green;
    font-weight: bold;
}
.fighter-checkbox {
    margin: 10px auto 0 auto;
    padding: 10px;
    transform: scale(2);
}
.error {
    background: red;
}


.looser:before, .looser:after {
    content: '';
    background: red;
    display: block;
    width: 100%;
    height: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    margin: auto;
}
.looser:after {
    -webkit-transform: rotate(45deg);    
    transform: rotate(45deg);
    bottom: 47.5%;
}
.looser:before {
    top: 30%;
}